$white: #fff;
$black: #000000;
$mainDark: #212121;
$darkTheme: #1a1a1a;
$mainLight: #fafafa;
$lightTheme: #fafafa;
$primary: #005da8;
$secondary: #34495e;
$light: $mainLight;
$g1: #eee;
$g2: #ccc;
$g3: #b3b3b3;
$g4: #777;

:root {
  --main-light: $mainLight;
  --main-dark: $mainDark;
  --main-color: $primary;
  --secondary-color: $secondary;
}

$theme-colors: (
  "main-light": $mainLight,
  "main-dark": $mainDark,
  "light-theme": $lightTheme,
  "dark-theme": $darkTheme,
  "transparent": transparent,
  "g1": $g1,
  "g2": $g2,
  "g3": $g3,
  "g4": $g4,
);
//Bootstrap Classes override
.bg-transparent,
.btn-transparent {
  color: $mainDark;
}
.btn:focus {
  box-shadow: none !important;
}
//Global Classes
.fit {
  width: 100% !important;
  height: 100% !important;
}
.flex-center-nf {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.flex-center-col-nf {
  @extend .flex-center-nf;
  flex-direction: column !important;
}
.flex-center {
  @extend .flex-center-nf;
  @extend .fit;
}

.align-center {
  display: flex;
  align-items: center;
}

.felx-center-col {
  @extend .flex-center-col-nf;
  @extend .fit;
}
.flex-between {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.font-bold {
  font-weight: bold !important;
}
.list-style,
.dropdown-menu,
.dropdown-menu-right {
  margin-top: 10px;
  background: $mainLight !important;
  padding: 5px !important;
  border-radius: 20px !important;
  li {
    a {
      border-radius: 20px !important;
    }
  }
}
.dropdown-toggle {
  outline: none !important;
}

@import "bootstrap/scss/bootstrap";
